<section class="resume-section" id="skills">
    <div class="resume-section-content">
      <h2 class="mb-5">Skills</h2>
      
      <div class="subheading mb-0">Main Stack</div>

      <div class="mb-3">
        <ul class="list-inline dev-icons mb-4 tecnology" *ngFor="let icon of toolsIcons; let i = index">
            <li class="list-inline-item">
                <img src="{{toolsIcons[i]}}" alt="">
            </li>
        </ul>
      </div>

      <div>
        <ul class="nav nav-tabs mb-3">
          <li class="nav-item">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#shortSummary">Short Summary</button>
          </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#longSummary">Long Summary</button>
          </li>
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#otherSkills">Non-programming skills</button>
          </li>
        </ul>
    
        <div class="tab-content">
          <div class="tab-pane fade show active" id="shortSummary">
            <ul>
              <li>
                <i class="fa-li fa fa-check mb-4"></i>
                <span>Backend:</span>
                C#, ASP.NET, API REST, MVC Pattern, Clean Onion Architecture, Java, Spring MVC & Rest.
              </li>
            
              <li>
                <i class="fa-li fa fa-check"></i>
                <span>Common .NET libraries:</span>: 
                Entity Framework, LINQ, Identity, Json Web Token, xUnit, JUnit, AutoMapper, Fluent 
                Validation, MediatR, Ardalis, Swagger, Dapper, etc.
              </li>
            
              <li>
                <i class="fa-li fa fa-check"></i>
                <span>Data Bases:</span>
                SQL Server & MySQL (Store Procedures, Triggers, Constraints, Views).
              </li>
            
              <li>
                <i class="fa-li fa fa-check"></i>
                <span>Cloud:</span>: 
                Azure (Azure SQL Database, Blob Storage, AppServices, Application Insights).
              </li>
            
              <li>
                <i class="fa-li fa fa-check"></i>
                <span>Frontend:</span>
                 Angular, Razor, TypeScript, HTML, CSS, SCSS, Bootstrap.
              </li>
            
              <li>
                <i class="fa-li fa fa-check"></i>
                <span>Other Tools:</span>
                 Git/Github, Postman, Visual Studio/Visual Studio Code.
              </li>
              
            </ul>
          </div>
    
          <div class="tab-pane fade" id="longSummary">
            <ul>
              <li>
                <i class="fa-li fa fa-check mb-4"></i>
                Connection between the application and the database using ORM's like 
                <span>Entity Framework (EF)</span> and <span>Dapper</span>, I use EF<span> migrations</span> 
                to adjust and update the database design, without losing information and having all the changes tracked.
              </li>
            
              <br>
            
              <li>
                <i class="fa-li fa fa-check"></i>
                <span>REST API's</span> for communication between <span>client, server and database</span> 
                through methods based on the <span>HTTP protocol</span>. Testing and documentation of methods 
                (end points) through <span>Postman</span> and <span>Swagger</span>.
              </li>
            
              <br>
            
              <li>
                <i class="fa-li fa fa-check"></i>
                <span>User system</span> using <span>Identity</span>, user creation, email confirmation, 
                password confirmation and management, <span>authorization</span> and <span>authentication</span> 
                using <span>JSON Web Token (JWT)</span> through HTTP request.
              </li>
            
              <br>
            
              <li>
                <i class="fa-li fa fa-check"></i>
                Additional ASP.NET Core tools/patterns/libraries: <span>Model-View-Controller(MVC)</span> 
                pattern, <span>dependencyinjection</span> (Scope, Transient and Singleton), object mapping 
                with <span>AutoMapper</span>, unit testing with <span>xUnit</span>, queries in C# using 
                <span>LINQ</span> etc.
              </li>
            
              <br>
            
              <li>
                <i class="fa-li fa fa-check"></i>
                Relational databases using <span>SQL Server</span>, <span>CRUD's</span> development, table 
                design and correlation between them using <span>foreign keys</span>. <span>Internal programming 
                language</span> for SQL Server queries. Union of information from several tables through 
                <span>INNER JOINS</span>. Use of <span>store procedures</span>, <span>triggers</span> 
                and <span>constraints</span>.
              </li>
            
              <br>
            
              <li>
                <i class="fa-li fa fa-check"></i>
                Basic frontend using <span>Angular</span> (TypeScript, HTML and CSS) and <span>Razor</span> 
                (C#, HTML and CSS). Simple views focused on displaying sorted information and testing the 
                methods in the Backend, for example, <span>posting information</span> from a form to the 
                database, <span>getting information</span> from the database and <span>displaying the 
                sorted information</span> in the browser.
              </li>
            
              <br>
            
              <li>
                <i class="fa-li fa fa-check"></i>
                Support Tools: <span>Git/Github</span> for code version control, <span>debugger</span> 
                to debug the code, <span>Visual Studio/Visual Studio Code</span> as IDE's.
              </li>
            </ul>
          </div>
    
          <div class="tab-pane fade" id="otherSkills">
            <div class="tab-content__body">
              <ul class="fa-ul mb-0">
                <li>
                  <i class="fa-li fa fa-check"></i>
                  Languages: English B1 (Conversational), Spanish Native.
                </li>
                <li>
                  <i class="fa-li fa fa-check"></i>
                  Soft Skills: Analytical, teamwork, continuous learning, continuous improvement and focused on solving problems.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
        
    </div>
</section>