<section class="resume-section" id="skills">
    <div class="resume-section-content">
      <h2 class="mb-5">Skills</h2>

      <div class="subheading mb-0">Main Stack</div>

      <app-tools-icons></app-tools-icons>

      <div class="accordion" id="accordionSkills">

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button buttonStyle" type="button" data-bs-toggle="collapse" 
            data-bs-target="#summaryProgramming" aria-expanded="true" aria-controls="summaryProgramming">
              <div class="subheading mb-0">Summarized Programming Skills</div>
            </button>
          </h2>
          <div id="summaryProgramming" class="accordion-collapse collapse hide"
          aria-labelledby="headingTwo" >
            <div class="accordion-body">
              <app-summary-skills></app-summary-skills>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button buttonStyle" type="button" data-bs-toggle="collapse" 
            data-bs-target="#detailedProgramming" aria-expanded="true" aria-controls="detailedProgramming">
              <div class="subheading mb-0">Detailed Programming Skills</div>
            </button>
          </h2>
          <div id="detailedProgramming" class="accordion-collapse collapse hide"
          aria-labelledby="headingThree" >
            <div class="accordion-body">
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button buttonStyle" type="button" data-bs-toggle="collapse" 
            data-bs-target="#nonProgrammingSkills" aria-expanded="true" aria-controls="nonProgrammingSkills">
              <div class="subheading mb-0">Relevant non-programming skills</div>
            </button>
          </h2>
          <div id="nonProgrammingSkills" class="accordion-collapse collapse hide"
          aria-labelledby="headingFour" >
            <div class="accordion-body">
              <ul class="fa-ul mb-0">
                <li>
                  <i class="fa-li fa fa-check"></i>
                  Languages: English B1 (Conversational), Spanish Native.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
        
    </div>
</section>