<div class="row justify-content-md-center text-center abilityParent">
    <div class="col col-4 ability" style="border-radius: 15px 0 0 15px;">
      <h4>Backend</h4>
      <ul>
        <li>Web API's</li>
        <li>ASP.NET Core MVC</li>
        <li>Entity Framework Core</li>
        <li>Identity</li>
        <li>Dapper</li>
        <li>LINQ</li>
        <li>Razor</li>
        <li>xUnity (Unit Testing)</li>
        <li>AutoMapper</li>
        <li>Store Procedures</li>
        <li>Triggers</li>
        <li>Constrints</li>
      </ul>
    </div>

    <div class="col col-4 ability" style="border-radius: 0 0 0 0 0;">
      <h4>Frontend</h4>
      <ul>
        <li>Angular Modules</li>
        <li>Angular Material</li>
        <li>Leaflet</li>
        <li>Markdown</li>
        <li>TypeScript</li>
        <li>JavaScript</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Bootstrap</li>
        <li>Jquery</li>
      </ul>
    </div>

    <div class="col col-4 ability" style="border-radius: 0 15px 15px 0;">
      <h4>Extra Tools</h4>
      <ul>
        <li>Git / GitHub</li>
        <li>Postman</li>
        <li>Debugger</li>
        <li>Swagger</li>
        <li>Azure</li>
        <li>Visual Studio</li>
        <li>Unity</li>
        <li>SCRUM</li>
      </ul>
    </div>
  </div>