<section class="resume-section" id="resume">
    <div class="resume-section-content">
        <h2 class="mb-5">Resume</h2>

        <div>
            <h3 class="mb-4">Work Experience</h3>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-4">
                <div class="container-fluid resume-content">
                    <h4 class="mb-0">Mazda de México Vehicle Operation S.A. de C.V.</h4>
                    <p class="subheading mb-3">Av. Hiroshima #1000, Complejo Industrial Salamanca, Salamanca, Gto.</p>
                    <p>
                        <span>Specialist in International Logistics and Customs: </span>
                        International and local logistics management of maritime imports of raw materials, 
                        import/export of empty racks, import/export of service parts. Import and export 
                        customs process. Tracking and monitoring of shipments from origin to destination. 
                        Projects for cost reduction and analysis of opportunities. Projects to improve 
                        controls and internal and external methodologies (suppliers).
                    </p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">January 2019 - January 2021</span>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-4">
                <div class="container-fluid resume-content">
                    <h4 class="mb-0">Adit Atomo S.A. de C.V.</h4>
                    <p class="subheading mb-3">Av. San Fernando #502, Col. Tlalpan Centro, Tlalpan, Ciudad De México.</p>
                    <p>
                        <span>Assistant in Logistics and Customs Area: </span>
                        International and local logistics management of import/export of empty racks, 
                        import/export of service parts. Import and export customs process. Tracking and 
                        monitoring of shipments from origin to destination. 
                    </p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">July 2018 - January 2019</span>
                </div>
            </div>
        </div>

        <div>
            <h3 class="mb-4">Education</h3>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="container-fluid resume-content">
                    <h4 class="mb-0">University of Guanajuato</h4>
                    <p class="subheading mb-3">Division of Economic and Administrative Sciences. Guanajuato, Guanajuato.</p>
                    <p>
                        <span>Bachelor's Degree in International Trade: </span>
                        
                    </p>
                </div>
                <div class="resume-date text-md-right">
                    <span class="text-primary">August 2014 - May 2018</span>
                </div>
            </div>
        </div>

        <p>You can get my resume in PDF format <a href="./assets/docs/Resume_Luis_Luna.pdf" type="application/pdf" target="_blank">here</a>.</p>
    </div>
</section>