<section class="resume-section" id="resume">
    <div class="resume-section-content">
        <h2 class="mb-5">Resume</h2>

        <div>
            <h3 class="mb-4">Work Experience</h3>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-4">
                <div class="container-fluid resume-content">
                    <h4 class="mb-0">No Country</h4>
                    <p>
                        <span>.NET BACKEND DEVELOPER (Dec.  2023 – Today):</span> <br>
                        Development of projects and features in employee management web applications.
                        Stack: C#, ASP.NET, SQL Server, Azure
                    </p>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-4">
                <div class="container-fluid resume-content">
                    <h4 class="mb-0">Freelance</h4>
                    <p>
                        <span>.NET BACKEND DEVELOPER (Jan.  2023 – Mar.  2024)</span> <br>
                        Development of projects and features in different types of web applications.
                        Stack: C#, ASP.NET, SQL Server, Azure, Angular
                    </p>
                </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-4">
                <div class="container-fluid resume-content">
                    <h4 class="mb-0">Mazda de México Vehicle Operation S.A. de C.V.</h4>
                    <p>
                        <span>SPECIALIST PRODUCTION CONTROL & LOGISTICS (Jan.  2018 – Jan. 2021)</span> <br>
                        Analysis and cost reduction projects. Improvement of controls, methodologies, and standards.
                    </p>
                </div>
            </div>

        </div>

        <div>
            <h3 class="mb-4">Education</h3>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="container-fluid resume-content">
                    <h4 class="mb-0">Globant University & Egg Cooperation</h4>
                    <p>
                        <span>BACKEND DEVELOPER WITH JAVA (Mar. 2023 – Dec 2023):</span> <br>
                        Focus on the following technologies: JAVA + MYSQL + JDBC & JPA + SPRING MVC & REST + JUNIT + GIT
                    </p>
                </div>
            </div>
        </div>

        <p>You can get my resume in PDF format <a href="./assets/docs/Resume_Luis_Luna.pdf" target="_blank">here</a>.</p>
    </div>
</section>