<section class="resume-section" id="home">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Luis Luna
        </h1>
        <h2 class="mb-5">
            .NET Backend Developer
        </h2>
        <div class="cotact-data subheadingHome mb-5">
            <div>
                Currently living in: <span>Juventino Rosas, Guanajuato.</span> 
            </div>

            <div>
                Email: 
                <button class="badge rounded-pill showButton" (click)="showEmail()" *ngIf="!emailInSight">
                  {{showHideText}}
                </button> 
                
                <a class="hidden-data" href="mailto:javierlunaluis@gmail.com" *ngIf="emailInSight">
                    javierlunaluis@gmail.com
                </a>

            </div>

            <div>
                Tel: <span *ngIf="!numberInSight">(412) </span>
                <button class="badge rounded-pill showButton" (click)="showNumber()" *ngIf="!numberInSight">
                    Show More
                </button> 
        
                <span class="hidden-data" *ngIf="numberInSight">
                    Plase send me an email or use the contact form at the botton of this page asking for it
                </span>
            </div>
        </div>

        <p class="lead mb-5">
            Welcome to my portfolio, I'm Luis, a <span>Backend Developer</span> 
            specialized in <span>.NET technologies</span> with which I develop 
            my own projects. Among the tools that I use the most are <span>C#, 
            ASP.NET, Entity Framework, MVC pattern, Identity, SQL Server, 
            Dapper, Angular</span> among others.
        </p>
        <div class="social-icons">
            <a class="social-icon" href="https://mx.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/luisjavierluna/" target="_blank"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="https://twitter.com/LuisLun31163726/" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</section>