<section class="resume-section" id="home">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Luis Luna
        </h1>
        <h2 class="mb-5">
            .NET Backend Developer
        </h2>
        <div class="cotact-data mb-5">
            <div>
                Currently living in: <span>Juventino Rosas, Guanajuato</span> 
            </div>
            <div>
                Email: <span><a href="mailto:javierlunaluis@gmail.com">javierlunaluis@gmail.com</a></span>
            </div>
            <div>
                Tel: <span>(412) --- ---- </span>
            </div>
        </div>

        <p class="lead mb-5">
            Welcome to my portfolio, I'm Luis, a <span>Backend Developer</span> 
            specialized in <span>.NET technologies</span> with which I develop 
            my own projects. Among the tools that I use the most are <span>C#, 
            ASP.NET, Entity Framework, MVC pattern, Identity, SQL Server, 
            Dapper, Angular</span> among others.
        </p>
        <div class="social-icons">
            <a class="social-icon" href="https://mx.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/luisjavierluna/" target="_blank"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="https://twitter.com/LuisLun31163726/" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</section>