<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h2 class="mb-5">About</h2>

        <p class="lead mb-4">
            My name, as you may have already noticed, is <span> Luis Luna</span> and I am 28. 
            I have a <span> degree in International Trade</span>, as well as almost 
            three years of experience in this area, however, in 2021 thinking about 
            my true interests and the future of the ever-growing technology industry,
            I decided to make a <span> change in my career and started</span> learning 
            to code in a self-taught way.
        </p>

        <p class="lead mb-4">
            I started learning the basics of <span>JavaScript, CSS and HTML </span>, 
            but I didn't go too deep into them and for the last year 
            and a half I decided to focus on learning <span>C#</span> and everything 
            related to its <span>.NET ecosystem</span>, opting to specialize on Backend
        </p>

        <p class="lead mb-4">
            I am currently looking for a job opportunity to test my skills and thereby 
            add value to the company that could give me that opportunity. However, in any 
            situation I will continue with this path, as I have found that it is really 
            what I want to do.
        </p>

    </div>
</section>