<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Luis Luna
        </h1>
        <div class="subheading mb-5">
            Juventino Rosas, Guanajuato · (412) --- ---- ·
            <a href="mailto:javierlunaluis@gmail.com">javierlunaluis@gmail.com</a>
        </div>
        <p class="lead mb-5">
            Welcome to my portfolio, I am Luis, a<span style="font-weight: 700;"> Backend Developer</span> 
            specialized in<span style="font-weight: 700;"> .NET</span> technologies with which I have developed
            several projects working mainly with <span style="font-weight: 700;">C#, ASP.NET, Entity Framework,
            MVC pattern, Identity, SQL Server, Dapper</span>, among others.
        </p>
        <div class="social-icons">
            <a class="social-icon" href="https://mx.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/luisjavierluna/" target="_blank"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="https://twitter.com/LuisLun31163726/" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</section>